<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="header.component.css" />
    </head>
    <body>
        <header class="header">
            <div>
                <h1>EventsLife</h1>
            </div>
            <div class="header-buttons-search">
                <button>Explora Eventos</button>
                <button *ngIf="role === 'organizer'">Crear Evento</button>
            </div>
            <div *ngIf="role === ''" class="header-buttons-login">
                <button class="header-button" [routerLink]="['/register']">Registrarse</button>
                <button class="header-button">Iniciar Sesion</button>
            </div>
            <div *ngIf="role === 'standart' || role === 'organizer'">
                <img src="" alt="logoCuenta" />
                <!--En usuario es nombre del usuario-->
                <button>Usuario</button>
            </div>
        </header>
    </body>
</html>
