@import '../../../styles/variables';
$text-color: #ffffff;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: $text-color;
  background-color: $header-color;
  .header-buttons-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
  }
  .header-buttons-login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
    .header-button {
      width: 9.375rem;
      padding: 1rem;
      background-color: $buttons-color;
      border: 3px solid #000000;
      border-radius: 0.3125rem;
      color: $text-color;
      text-decoration: none;
      font-size: 1.2rem;
      transition: background-color 0.3s;
      color: #000000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background-color: $text-color;
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .header-buttons-login {
      .header-button {
        padding: 1rem;
        font-size: 1.15rem;
      }
    }
  }
}
