@import '../../../styles/variables';

.text-start {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  h2 {
    margin-top: 40px;
  }
}
.container-form {
  margin: auto;
  width: 55%;
  text-align: center;
  background-color: $background-color_orange;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
.form {
  margin: auto;
  width: 80%;
  .field {
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }
    .fill-info {
      height: 2.5rem;
      margin-bottom: 20px;
      font-size: 1rem;
      padding-left: 8px;
      border: 2px solid;
      &::placeholder {
        font-size: 1rem;
      }
    }
  }
  .select-user {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    margin-bottom: 40px;
    label {
      margin-bottom: 30px;
      font-size: 1.5rem;
    }
    input {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border: 1px solid;
    padding: 0.625rem 3rem 0.625rem 3rem;
    background-color: #ffffff;
    &:hover {
      background-color: $header-color;
      color: white;
    }
  }
}
