<div class="text-start">
    <h1>Crear Cuenta</h1>
    <h2>Completa el formulario para registrarte en EventsLife</h2>
</div>
<div class="container-form">
    <form (ngSubmit)="register()" #registerForm="ngForm" class="form">
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" ngModel required placeholder="Tu usuario" class="fill-info" />
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ngModel required placeholder="Email" class="fill-info" />
        </div>
        <div class="field" *ngIf="role_selected === 'organizer'">
            <label for="address">Dirección</label>
            <input type="text" id="address" name="address" ngModel required placeholder="Dirección" class="fill-info" />
        </div>
        <div class="field" *ngIf="role_selected === 'organizer'">
            <label for="phone">Teléfono</label>
            <input type="text" id="phone" name="phone" ngModel required placeholder="Teléfono" class="fill-info" />
        </div>
        <div class="field">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" ngModel required class="fill-info" />
        </div>
        <div class="field">
            <label for="password">Confirmación contraseña</label>
            <input type="password" id="confirmation_password" name="confirmation_password" ngModel required class="fill-info" />
        </div>
        <div class="select-user">
            <label for="role_selected">Tipo de usuario</label>
            <div>
                <input type="radio" name="role_selected" (click)="changeRoleSelected('standart')" />
                <label for="standart">Asistente</label>
            </div>
            <div>
                <input type="radio" name="role_selected" (click)="changeRoleSelected('organizer')" />
                <label for="organizer">Organizador</label>
            </div>
        </div>
        <button type="submit" class="btn">Registrarse</button>
    </form>
</div>
